* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.bg-blue {
    background-color: rgba(39, 118, 234, 1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.btn-outline-blue {
    width: 118px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
}

.btn-outline-blue:hover {
    border: 2px solid transparent;;
    border-radius: 8px;
    background-color: #fff;
    color: rgba(39, 118, 234, 1);
}

.bg-footer {
    background-color: rgba(8, 24, 47, 1);
}

.fs-14 {
    font-size: 14px;
}

.mobile {
    display: none;
}

.border-top {
    border-top: transparent !important;
}

@media (max-width: 992px) {

    .border-top {
        border-top: 1px solid #dee2e6 !important;
    }

    .btn-outline-blue {
        border: none;
        width: auto;
        /* font-weight: 400 !important; */
    }

    .btn-outline-blue:hover {
        border: none;
        background-color: transparent;
        color: #fff;
    }

    .navbar-nav {
        font-weight: bold;
    }

    .mobile {
        display: block;
    }
}