@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.bg-blue {
    background-color: rgba(39, 118, 234, 1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.bg-footer {
    background-color: rgba(8, 24, 47, 1);
}

.fs-14 {
    font-size: 14px;
}

.mobile {
    display: none;
}

@media (max-width: 992px) {
    .mobile {
        display: block;
    }

    .navbar-nav i {
        display: none;
    }

    .navbar-nav {
        font-weight: bold;
    }
}