@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Inter", sans-serif !important;
}

/*Header styling*/

.bg-blue {
    background-color: rgba(39, 118, 234, 1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.bg-footer {
    background-color: rgba(8, 24, 47, 1);
}

.fs-14 {
    font-size: 14px;
}

.rounded-top{
 border-top-left-radius: 5px !important;
 border-top-right-radius: 5px !important;
}

.rounded{
 border-radius: 5px !important;
}

.fs-7{
 font-size: 12px !important;
}

/* for both side header to be in the same height of 80px */
.left-side-header, 
.right-side-header{
 height: 70px;
}

@media (max-width: 978px){
  .sender .fs-7{
    padding: 0px !important;
    
  } 
  
  .w-75{
    width: 90% !important;
    
  }
}

@media (max-width: 401px){
  .chat{
    display: none !important;
  }
  
}




  




