* {
    font-family: 'Inter', sans-serif;
}
@media (min-width: 768px) {
    #password-reset-wrapper {
        width: 40% !important;
    }
}
@media (max-width: 610px) {
    #wrapper {
        padding-left: 0 !important;
    }
}