* {
    font-family: 'Inter', sans-serif;
}
#password-reset-wrapper {
    width: 50% !important;
}
@media (min-width: 768px) {
    #password-reset-wrapper {
        width: 70% !important;
    }
}
@media (max-width: 610px) {
    #wrapper {
        padding-left: 0 !important;
    }
}
@media (max-width: 425px){
    #password-reset-wrapper {
        width: 100% !important;
    }
}