@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
   
}
.w-25{
  width: 30% !important;
}

.bg-blue {
    background-color: rgba(39, 118, 234, 1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.btn-outline-blue {
    width: 118px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
}

.btn-outline-blue:hover {
    border: 2px solid transparent;;
    border-radius: 8px;
    background-color: #fff;
    color: rgba(39, 118, 234, 1);
}



.bg-footer {
    background-color: rgba(8, 24, 47, 1);
}

.fs-14 {
    font-size: 14px;
}

  @media(max-width:770px ){
   .right{
   width: 100% !important;
   }
  }

   @media(max-width:401px){
 .right{
  width: 100% !important;
  font-size: 14px;
  margin: 0 !important;
 }
 .w-25{
  width: 100% !important;
  text-align: center !important;
 }
 .wrapper{
  flex-direction: column !important;
  margin-top: 10px;
 }
 .border-dark{
    border: none !important;
 }
 .header{
    font-size: 20px !important;
 }
 .w-50{
    padding-right: 10px !important;
 }
}