* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#signup {
    background-color: #6FA4F1;
}

.icon-display {
    visibility: visible !important;
}

.button-active-color {
    background-color: #2776EA !important;
}

/* Mobile screen */
@media (max-width: 350px) {
    #navtext, #join{
        font-size: 10px;
    }

}
@media (max-width: 426px) {
    .form-bg {
        display: none;
    }
     #bottom-text{
        font-size: 12px;
    }

}

/* Tablet screen */
@media (min-width: 425px) and (max-width: 767px) {
    .form-bg {
        display: none;
    }
    
}
