* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.icon-display {
    visibility: visible !important;
}
#signin {
    background-color: #6FA4F1;
}
.button-active-color {
    background-color: #2776EA !important;
}

.sign-in-personnel {
    background-image: url(../img/sign-in-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
}
@media (max-width: 767px) {
    .sign-in-personnel img {
        display: none;
    }
    #signin {
        font-size: 18px !important;
    }
}
@media (max-width: 345px) {
    .nav-item p, #join {
        font-size: 11px;
    }
}