body{font-family: 'Inter', sans-serif;}

.bg-blue {
    background-color: rgba(39, 118, 234, 1);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}
.bg-footer {
    background-color: rgba(8, 24, 47, 1);
}
.fs-14 {
    font-size: 14px;
}
.mobile {
    display: none;
}
.form-color{
    background-color: #F5F5F5;
}
.img2 {
    height: 28vh;
}
.profile-info{
    color: #555555;
}
.img1 {
    top: 30%;
    height: 35vh;
}
.blue {
    color: rgba(39, 118, 234, 1);
}

.blue:hover {
    color: #fff;
    background-color: rgba(39, 118, 234, 0.8);
}
.btn a{
    width: 40% !important;
} 
@media (max-width: 992px) {
    .mobile {
        display: block;
    }
    .navbar-nav i {
        display: none;
    }
    .navbar-nav {
        font-weight: bold;
    }
}
@media(max-width: 769px){
    .form{
        width: 75% !important;
    }
    .mod-cardd{
        width: 100% !important;
    }
    .btn-mod{
        width: 100% !important;
    }
}
@media(max-width: 426px){
    .form{
        width: 100% !important;
    }
}
